@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
$open-sans: 'Open Sans', sans-serif;

#root {
    font-family: $open-sans;
    font-size: 13px;
}
ul.user_container {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    font-family: $open-sans;
}
h1{
    font-size: 32.5px;
}             
h2{
    font-size: 26px;
} 
h3{
    font-size: 22.75px;
} 
h4{
    font-size: 19.5px;
} 
h5{
    font-size: 16.25px;
}
h6{
    font-size: 13px;
}